name: Render
on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'
jobs:
  render:
    runs-on: ubuntu-22.04
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v6
      - name: Set up Pandoc
        uses: r-lib/actions/setup-pandoc@v2
      - name: Install libraries
        run: |
          sudo apt install -y libjpeg-dev libpng-dev libtiff-dev libx11-dev libglpk-dev
      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true
      - name: Install dependencies
        run: |
          install.packages(c("distill", "imager", "ichimoku"), repos = c("https://shikokuchuo.r-universe.dev", getOption("repos")))
        shell: Rscript {0}
      - name: Script
        run: Rscript render.R
      - name: Commit files
        run: |
          git config --local user.name github-actions
          git config --local user.email "actions@github.com"
          git add docs/*
          git commit -am "refresh at $(date)"
          git push origin main -f
        env:
          REPO_KEY: ${{secrets.GITHUB_TOKEN}}
          username: github-actions
